<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>
DJANGO
        </title>
        <link rel="stylesheet" href='{% static "css/mystyle.css" %}'>
    </head>
    <body>
       <h1> Hi Welcome </h1>
       <h2>Here are your access records:</h2>


    <div class="djangtwo">
        {% if access_records %}
            <table>
                <thead>
                    <th>Site Name</th>
                    <th>Date Accessed</th>
                </thead>

            {% for acc in first_name %}
        <tr>
            <td>              {{ acc.first_name }}           </td>
            <td>              {{ acc.last_name }}           </td>
        </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No records Found!!!</p>
        {% endif %}
    </div>
    </body>
</html>